<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m6">
                <div class="card large">
                    <div class="card-image front-page">
                        <a href="/books">
                            <img src="http://placehold.it/140x100">
                        </a>
                    </div>
                    <div class="card-action">
                        <a href="/books">Books</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card large">
                    <div class="card-image front-page">
                        <a href="/authors"><img src="http://placehold.it/140x100">
                    </div>
                    </a>
                    <div class="card-action">
                        <a href="/authors">Authors</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
